<div class="grid gap-1 justify-center items-center">
  <div class="text-6xl tracking-tight text-center"><%= @number %></div>
  <% if @label.present? %>
    <p class="text-gray-600 text-center"><%= @label %></p>
  <% end %>
</div>
