<div id="<%= dom_id facility %>" class="w-full bg-gray-100 p-3 grid gap-2 grid-cols-[5fr,3fr]">
  <div>
    <%= link_to facility.name, facility, class: "text-3xl font-normale underline" %>
    <p class="mt-3 text-xl text-gray-600">
      <%= facility.district %>
    </p>
  </div>

  <div>
    <%= turbo_frame_tag "#{dom_id(facility)}_availabilities", src: facility_availabilities_path(facility) %>
  </div>
</div>
